{% extends 'base.html' %}

{% block title %} 

  Choose Potluck

{% endblock %}

{% block body %}

<section>

  <h1>Hi {{ personFname }} {{ personLname }}!</h1>
  <h1>Wich potluck would you like to attend?</h1>

</section>

<main>

  <!-- the below function is possible because we made a potlucks object in our server and rendered/passed it here -->
  <!-- this function makes a radio button for every potluck in the potlucks object -->
  <form action = "/choosePotluck">
    {% for potluck in potlucks %}
      <input type="radio" id="{{ potluck.potluck_id }}" name="potluck" value="{{ potluck.potluck_id }}">
      <label for="{{ potluck.potluck_id }}">{{ potluck.potluck_name }}</label>
      <!-- <p>{{ potluck.address }}</p> -->
      {% for user in potluck.users %}
        <p>{{ user.combine_names() }}</p>
      {% endfor %}
    {% endfor %}
    <input type="submit" value="Submit">
  </form>

</main>

{% endblock %}