<!DOCTYPE html>
<html>

  <head>
    <title>Choose your Potluck</title>
  </head>

  <body>

    <h1>Hi {{ personFname }} {{ personLname }}!</h1>

    <!-- <form action="/choosePotluck">
      <input type="radio" name="play" value="yes">Funky
      <input type="radio" name="play" value="no">Artsy
      <input type="submit">
    </form> -->

    <h1>Wich potluck would you like to attend?</h1>

    <form action="/choosePotluck">
      <input type="checkbox" id="checkbox1" name="play" value="1">
      <label for="checkbox1">{{ potluck1_name }}</label><br>
      <p>{{potluck1_address}}</p><br>
      <p>{{potluck1_users_names}}</p><br><br>
      <input type="checkbox" id="checkbox2" name="play" value="2">
      <label for="checkbox2">{{ potluck2_name }}</label><br>
      <p>{{potluck1_address}}</p><br>
      <p>{{potluck2_users_names}}</p><br><br>
    
      <input type="submit" value="Submit">
    </form>

  </body>

</html>