<!DOCTYPE html>
<html>
<head>
  <title>Extra Code</title>
</head>
<body>

There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab.
When {{ person }} went to pick it up, it burst into flames in a
totally {{ adjective }} way.

</body>
</html>





#from server.py last madlib page that renders the final results of user's word choices.


@app.route('/madlib')
def show_madlib():
    """Show resulting mablib."""

    name = request.args.get("person")
    color = request.args.get("color")
    noun = request.args.get("noun")
    adjective = request.args.get("adjective")

    return render_template("madlib.html",
                           person=name,
                           color=color,
                           noun=noun,
                           adjective=adjective,
                           )