<!doctype html>
<html>
<head>
  <title>secondChoice</title>
</head>
<body>
  <h1>People are bringing these dishes:</h1>
  <p>{{ dish_names }}</p>
  <p>{{ potluck2Dishes }}</p>
  <br>
  <h1>What dish will you bring?</h1>
  <form action="/madlib">
    <p><label> Dish: <input type="text" name="person"></label></p>
    <!-- <p><label>Color: <input type="text" name="color"></label></p>
    <p><label>Noun: <input type="text" name="noun"></label></p>
    <p><label>Adjective: <input type="text" name="adjective"></label></p> -->
    <p><input type="submit"></p>
  </form>
  
  </body>
  </html>