
<!DOCTYPE html>
<html>

  <head>
    <title>User Brings</title>
  </head>

  <body>

    <h1>People are bringing these dishes to {{ potluck.potluck_name }}:</h1>

    <!-- list with names of dishes -->
    <ul>
      {% for dishes in potluck.dishes %}
      <li>{{ dishes.dish_name }} - {{ dishes.servings }} servings</li>
      {% endfor %}
    </ul>
    
    <!-- table with names of dishes -->
    <table>
      <tr><td>Dish Name</td> <td>Servings</td> <td>Types</td></tr>
      {% for dishes in potluck.dishes %}
      <tr> <td>{{ dishes.dish_name }} </td><td>{{ dishes.servings }}</td><td>{{ dishes.types.type_name }} </td></tr>
    
      {% endfor %}
    
    </table>


  </body>

</html>